<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none';"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>Stack Overflow</title>
</head>

<body>
    <header>
        <div class="container">
            <img class="logo" src="../../img/logo.png">
            <form action="search" method="get">
                <input type="text" name="query" id="query">
                <input type="button" value="search">
            </form>
    </header>
    <div class="content">
        <div class="container">
            <div class="question">
                <div class="left-block-info">
                    <div class="votes">
                        5
                        <div class="signature">
                            votes
                        </div>
                    </div>
                    <div class="answer">
                        3
                        <div class="signature">
                            answers
                        </div>
                    </div>
                    <div class="views">
                        1000 views
                    </div>
                </div>
                
                <div class="title">How</div>
                <!-- <div class="tags"></div> -->
                <div class="body">
                    sdfgh
                </div>
                <div class="time-and-author">
                    asked time by someone
                </div>
                <div class="answer-title">Best answer:</div>
                <div class="answer-block">
                    <div class="body">
                        sdfgh
                    </div>
                    <div class="time-and-author">
                        answered time by someone
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>